@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
body{
    margin-top: 10px;
}
.registration-form{
    display: flex;
    justify-content: center;
    background-color: rgb(124, 165, 241);
    margin-top: 20px;
    margin-left: 300px;
    width: 500px;
    border-radius: 7px;
}

/* .tam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.registration-form h1{
    font-size: 18px;
    color: #E74C3C ;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}

.registration-form p{
    font-size: 20px;
    margin: 15px 0px;
}

.registration-form input{
    font-size: 16px;
    padding: 10px 7px;
    margin: 1rem;
    width: 85%;
    border:0px;
    border-radius: 5px;
}

.registration-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px;
    padding: 7px 8px;
    width: 50%;
    border: 0px;
    border-radius:5px;
    background-color:#fff;
}

.larger{
    padding: 10px 7px;
    margin-left: 20px;
}